[submodule "Chocolate/vendor/spdlog"]
	path = Chocolate/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chocolate/vendor/GLFW"]
	path = Chocolate/vendor/GLFW
	url = https://github.com/TheCherno/glfw
